@{
    ViewData["Title"] = "About Raythos";
    Layout = "../Shared/web_layout.cshtml";
}


<script>
    var myLinkElement = document.getElementById("aboutTab");
    myLinkElement.classList.toggle("aboutTab");
</script>

<section class="section section-bg" id="call-to-action" style="background-image: url('/web/assets/images/back2.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cta-content">
                    <br>
                    <br>
                    <h2>Learn more <em>About Us</em></h2>
                    <p>Discover our story, where passion meets the skies</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center">
                <br /><br /><br />
                <div class="row">
                    <div class="col-md-12 d-flex">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24219.62199458971!2d-73.97956704547904!3d40.64194921219606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25b400c94a227%3A0x18e2a4d3fb21f0ec!2sFlatbush%2C%20Brooklyn%2C%20NY%2C%20USA!5e0!3m2!1sen!2slk!4v1704334664115!5m2!1sen!2slk" width="100%" height="300px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="col-md-12 d-flex" style="margin:10px;"> 
                            <p>Address:<br> 40E, New York, NY 10012, <br> Upper City, USA</p>
                    </div>
                    <div class="col-md-12 d-flex" style="margin:10px;">
                            <p>
                                Contact No:&nbsp; &nbsp; + 01 234 567 88
                                <br>Web:&nbsp; &nbsp; www.Raythos.com
                                <br>Email:&nbsp; &nbsp; info@example.com
                            </p>
                    </div>
                </div>
            </div>
            <div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
                <div class="heading-section-bold mb-4 mt-md-5">
                    <div class="ml-md-0">
                        <h2 class="mb-4" style="color:#0073E6">Welcome to Raythos Aerospace Website</h2>
                    </div>
                </div>
                <div class="pb-md-5">
                    <p>
                        Raythos Aerospace stands as a stalwart in the realm of aircraft manufacturing, boasting a rich legacy that spans several decades. Since its inception, our company has been at the forefront of innovation, consistently pushing the boundaries of aerospace engineering. With a commitment to excellence and a passion for aviation, Raythos has become synonymous with cutting-edge technology, reliability, and superior craftsmanship.
                     </p>
                    <p>
                        Our journey is marked by a series of groundbreaking achievements and milestones. From pioneering advancements in aerodynamics to incorporating the latest in avionics technology, Raythos has consistently embraced innovation as the driving force behind our success. We take pride in our ability to anticipate the evolving needs of the aviation landscape and respond with solutions that redefine industry standards.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ***** Our Classes Start ***** -->
<section class="section" id="our-classes">
    <div class="container">
        <div class="row" id="tabs">
            <div class="col-lg-4">
                <ul>
                    <li><a href='#tabs-1'><i class="fa fa-soccer-ball-o"></i> Our Goals</a></li>
                    <li><a href='#tabs-2'><i class="fa fa-briefcase"></i> Our Work</a></a></li>
                    <li><a href='#tabs-3'><i class="fa fa-heart"></i> Our Passion</a></a></li>
                </ul>
            </div>
            <div class="col-lg-8">
                <section class='tabs-content'>
                    <article id='tabs-1'>
                        <img src="~/web/assets/images/about-image-1-940x460.jpg" alt="">
                        <h4>Our Goals</h4>
                        <p>
                            At Raythos Aircraft Selling Company, our overarching goal is to reshape the aviation industry
                            by setting new benchmarks in excellence. We envision ourselves not merely as aircraft sellers
                            but as trusted partners on our clients' aviation journeys. Our foremost ambition is to 
                            redefine the customer experience by providing personalized services that go beyond the 
                            transactional aspects of buying and selling aircraft. We aspire to be industry leaders, 
                            influencing the standards of service, innovation, and client satisfaction. By consistently 
                            delivering exceptional value, we aim to create lasting relationships with our clients, 
                            ensuring that Raythos is synonymous with trust, quality, and success in the dynamic world of
                            aviation..
                        </p>

                        <p>
                            Embark on the Raythos experience, where our goals, work, and passion converge to offer a unique 
                            and unparalleled journey in the world of aircraft sales. As we set ambitious goals, execute meticulous work, 
                            and infuse everything with our deep passion for aviation, we invite you to be a part of this exciting adventure.
                            At Raythos, we don't just sell aircraft; we redefine the way you experience aviation, ensuring that each interaction 
                            is marked by trust, expertise, and the sheer joy of flight. Join us in exploring the boundless skies and discover
                            a world where goals become achievements, work becomes a passion, and every aviation enthusiast finds a home at 
                            Raythos Aircraft Selling Company.
                        </p>
                    </article>
                    <article id='tabs-2'>
                        <img src="~/web/assets/images/about-image-2-940x460.jpg" alt="">
                        <h4>Our Work</h4>
                        <p>
                            At Raythos Aircraft Selling Company, our primary objective is to redefine the aviation industry landscape. We are dedicated to setting new benchmarks of excellence and innovation, aiming not just to sell aircraft but to provide a comprehensive and unparalleled experience for our clients. Our foremost goal is to become the industry leader, reshaping the way aircraft sales are conducted and positioning Raythos as a trusted name synonymous with reliability, integrity, and customer-centric practices.
                        </p>
                        <p>
                            Our strategic goal is to go beyond conventional business paradigms. We envision Raythos as not merely a transactional partner but a trusted advisor, fostering enduring relationships with our clients. By understanding their unique needs, preferences, and aspirations, we aim to tailor our services, ensuring that each client receives personalized solutions that exceed expectations. Our commitment extends beyond individual transactions; we seek to contribute to the broader aviation community by setting new standards and elevating the overall experience of buying and selling aircraft.
                        </p>

                        <p>
                            Raythos aims to be a catalyst for positive change within the industry. Our overarching goal is to pioneer advancements in service quality, market analysis, and customer satisfaction. We strive to create a ripple effect, inspiring others in the industry to raise their standards and contribute to the collective growth and excellence of the aviation sector. Ultimately, our goals are anchored in a vision of a dynamic, innovative, and customer-centric aviation industry where Raythos stands at the forefront, driving positive transformations and shaping the future of aircraft sales.
                        </p>
                    </article>
                    <article id='tabs-3'>
                        <img src="~/web/assets/images/about-image-3-940x460.jpg" alt="">
                        <h4>Our Passion</h4>
                        <p>
                            At the core of Raythos Aircraft Selling Company is an unwavering passion for aviation. Our team is fueled by a deep and abiding love for the skies, recognizing the transformative power of flight. This passion is the driving force behind everything we do, infusing our work with enthusiasm, dedication, and a genuine appreciation for the world of aviation.
                        </p>

                        <p>
                            Our passion extends beyond the mere transactions of buying and selling aircraft. It's a profound connection to the thrill of flight, the marvel of aircraft engineering, and the joy it brings to aviation enthusiasts. Every member of our team shares this common passion, creating a cohesive and dynamic environment where our love for aviation is not just a job requirement but a shared commitment that unites us.
                        </p>

                        <p>
                            The passion for aviation is deeply embedded in our organizational culture. It shapes the way we interact with our clients, the energy we bring to the workplace, and the innovative solutions we seek. This cultural foundation ensures that our clients not only receive professional services but also engage with a team that genuinely cares about the industry and the incredible experiences that aviation offers.
                        </p>
                    </article>
                </section>
            </div>
        </div>
    </div>
</section>
<!-- ***** Our Classes End ***** -->
<!-- ***** Fleet Ends ***** -->
