@{
    ViewData["Title"] = "Owned Aircrafts";
    Layout = "../Shared/web_layout.cshtml";
}


<script>
    var myLinkElement = document.getElementById("myAccount");
    myLinkElement.classList.toggle("active");
</script>

<!-- ***** Call to Action Start ***** -->
<section class="section section-bg" id="call-to-action" style="background-image: url('/web/assets/images/back3.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cta-content">
                    <br>
                    <br>
                    <h2>Owned <em> Aircrafts</em></h2>
                    <p>Explore information and specifications about your Aircrafts</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section" id="trainers">
    <div class="container">
        <br>
        <br>
        <br>

        <div class="row">
            @foreach (var order in Model)
                {
            <div class="col-lg-4">
                <div class="trainer-item" style="height:440px">
                    <div class="image-thumb">
                            <img src="~/uploads/@order.Aircraft.FrontImage1" alt="" style="height:238px">
                    </div>
                    <div class="down-content">
                        <span style="font-size:18px">
                                $@order.Aircraft.Price.ToString("N2")
                        </span>

                            <h4>@order.Aircraft.ModelName</h4>

                        <p>
                                <i class="fa fa-dashboard"></i> @order.Aircraft.Speed knots &nbsp;&nbsp;&nbsp;
                                <i class="fa fa-cube"></i> @order.Aircraft.Range nautical miles &nbsp;&nbsp;&nbsp;
                        </p>

                        <ul class="social-icons" style="float:right;font-size:13px;">
                                <li><a asp-action="OwnedSingle" asp-controller="Customer" asp-route-id="@order.Aircraft.AircraftId">+ More Details</a></li>
                        </ul>
                    </div>
                </div>
            </div>
           }

        </div>

    </div>
</section>
<!-- ***** Fleet Ends ***** -->
